%ul#nav
  - if video_list_hashes[:queued]
    %li
      %a.selected#queued_link{ :href => "#queued", :title => 'Show Queued Videos'} Queued
  - if video_list_hashes[:completed]
    %li
      %a.selected#completed_link{ :href => "#completed", :title => 'Show Completed Videos'} Completed
  %li
    %a#new_video_link{ :href => "#", :title => 'Queue up some more videos' } New Video
    
%h1 Welcome to GetVid

#new_video
  %h2 Enter a list of YouTube video urls, one per line.
  %form{ :action => "/videos", :method => "post"}
    %label{ :for => "vids_urls" }
    %textarea{ :name => "vids[urls]", :id => "vids_urls" }
    
    .buttons
      %a.cancel{:href => '#'} Cancel
      %input.submit{ :type => "submit", :value => "Get Vids" }

- if video_lists.length == 0
  %h1 There are no videos in the system.
  
- video_lists.each do |list|
  = partial(:_video_list, :locals => list)